

.navbarContainer{
    display: flex;
    position:fixed;
    top:0px;
    z-index: 100;
    width: 100vw;
    overflow: hidden;
    ;
}

.navbarLinks{
    display: flex;
    padding: 41px 30px;
    justify-content: space-between;
    width:100vw;


}

.logoWrapper{
    align-self: center;
}

.animationWrapper{
    position: fixed;
    z-index: 100;
    top:0px

}


@media (max-height: 400px) {
    .navbarLinks {
    
        padding: 41px 30px 0px 30px ;
      
    }}


